<div class="row pt-3">

  <!--back to homepage (dashbord) button-->
  <div class="col-12 col-md-2 d-flex justify-content-md-start">
    <div><a type="button" class="btn btn-secondary d-none d-md-flex" routerLink="/dashboard">← Retour</a></div>
    <div><a type="button" class="btn btn-sm btn-secondary d-flex d-md-none" routerLink="/dashboard">← Retour</a></div>
  </div>
  <!-------------------------------------->

  <div class="col-12 col-md-8 d-flex justify-content-center">
    <div>

      <!--current country and informations/statistics about his participations in the Olympics-->
      <h3 class="text-center mb-3"><span class="badge bg-dark">{{coutryFlag}} <u>{{countryName}} :</u></span></h3>

      <div class="row text-center pb-3">
        <h5 class="col-lg-auto col-12"><span class="badge bg-light text-dark">Nombre de participations : <u>{{entries}}</u></span></h5>
        <h5 class="col-lg-auto col-12"><span class="badge bg-light text-dark">Nombre total de médailles : <u>{{totalMedals}}</u></span></h5>
        <h5 class="col-lg-auto col-12"><span class="badge bg-light text-dark">Nombre total d'athlètes : <u>{{totalAthletes}}</u></span></h5>
      </div>
      <!---------------------------------------------------------------------------------------->

      <!--line chart : count of medals won by the current country by participation year-->
      <ngx-charts-line-chart class="d-none d-md-flex justify-content-md-center"
        [view]="view"
        [customColors]="colorScheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="data"
        [roundDomains]="roundDomains"
        [autoScale]="autoScale"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        >
      </ngx-charts-line-chart>

      <ngx-charts-line-chart class="d-flex justify-content-center d-md-none"
        [view]="smallView"
        [customColors]="colorScheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [results]="data"
        [roundDomains]="roundDomains"
        [autoScale]="autoScale"
        [maxXAxisTickLength]="maxXAxisTickLength"
        [maxYAxisTickLength]="maxYAxisTickLength"
        >
      </ngx-charts-line-chart>
      <!--------------------------------------------------------------------------------->

    </div>
  </div>

</div>