<div class="row">

  <!--reminder of the context of the application and its utility-->
  <div class="col-12 col-md-4">
    <p class="p-3">
      En guise de préparation aux prochains Jeux Olympiques, cette application interactive permet de visualiser les informations et statistiques des précédents JO.
    </p>
    <p class="p-3">
      Ci-contre, la représentation graphique du nombre de médailles remportées par pays, toutes années confondues.
      <br>
      Cliquer sur une portion du graphique correspondant à un pays permet de visualiser les détails des participations aux JO de ce pays.
    </p>
  </div>
  <!-------------------------------------------------------------->

  <!--pie chart : count of medals won by country-->
  <div class="col-12 col-md-8 d-flex justify-content-center">

    <ngx-charts-pie-chart class="d-none d-sm-flex"
      [view]="view"
      [customColors]="colorScheme"
      [results]="data"
      [gradient]="gradient"
      [labels]="showLabels"
      [maxLabelLength]="maxLabelLength"
      [doughnut]="isDoughnut"
      (select)="clickOnCountry($event)"
      >
      <ng-template #tooltipTemplate let-model="model">
        <u>{{model.name}}</u>
        <br>
        <span>
          <b>{{model.value}}</b>
          <span *ngIf="model.value>1"> médailles</span>
          <span *ngIf="model.value<2"> médaille</span>
        </span>
      </ng-template>
    </ngx-charts-pie-chart>

    <ngx-charts-pie-chart class="d-flex d-sm-none"
      [view]="smallView"
      [customColors]="colorScheme"
      [results]="data"
      [gradient]="gradient"
      [labels]="showLabels"
      [maxLabelLength]="maxLabelLength"
      [doughnut]="isDoughnut"
      (select)="clickOnCountry($event)"
      >
      <ng-template #tooltipTemplate let-model="model">
        <u>{{model.name}}</u>
        <br>
        <span>
          <b>{{model.value}}</b>
          <span *ngIf="model.value>1"> médailles</span>
          <span *ngIf="model.value<2"> médaille</span>
        </span>
      </ng-template>
    </ngx-charts-pie-chart>

  </div>
  <!---------------------------------------------->

</div>